@font-face {
    font-family: "Poppins-Regular";
    src: url("./fonts/Poppins-Regular/Poppins-Regular.eot");
    src: local("☺"), url("./fonts/Poppins-Regular/Poppins-Regular.woff") format("woff"),
        url("./fonts/Poppins-Regular/Poppins-Regular.ttf") format("truetype"),
        url("./fonts/Poppins-Regular/Poppins-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("./fonts/Poppins-Bold/Poppins-Bold.eot");
    src: local("☺"), url("./fonts/Poppins-Bold/Poppins-Bold.woff") format("woff"),
        url("./fonts/Poppins-Bold/Poppins-Bold.ttf") format("truetype"),
        url("./fonts/Poppins-Bold/Poppins-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
