@import "./variables.scss";

// Input
@mixin mainInput() {
    height: 64px;
    outline: none;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 40px;
    font-family: $fRegular;
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    transition: $mainTransition;
    &:focus-visible {
        outline: none;
    }
    &:focus {
        outline: none;
        border: none;
    }
    &:active {
        outline: none;
        border: none;
    }
    &:hover {
        outline: none;
        border: none;
    }
    &::placeholder {
        color: $cBlackSecond;
    }
}
@mixin mainInputIcon() {
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    user-select: none;
    pointer-events: none;
    top: 18px;
    right: 16px;
}

@mixin mainInputErrorMessage() {
    font-size: 14px;
    font-family: $fRegular;
    position: absolute;
    bottom: -44px;
    left: 0px;
    line-height: 20px;
    user-select: none;
}

//////// Buttons //////////
@mixin buttonRounded() {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: $fBold;
    height: 48px;
    user-select: none;
    transition: $mainTransition;
    border-radius: 40px;
}

////////// Mask //////////
@mixin maskIcon() {
    width: 12px;
    height: 12px;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
}

//////// Text //////////
@mixin headerBold20() {
    font-family: $fBold;
    font-size: 20px;
    color: $cBlack;
    line-height: 28px;
}

@mixin plainText24() {
    font-family: $fRegular;
    font-size: 24px;
    line-height: 36px;
    color: $cBlack;
    @media (max-width: 992px) {
        line-height: 33px;
        font-size: 23px;
    }
    @media (max-width: 768px) {
        line-height: 30px;
        font-size: 22px;
    }
    @media (max-width: 576px) {
        line-height: 28px;
        font-size: 20px;
    }
    @media (max-width: 450px) {
        font-size: 18px;
    }
    @media (max-width: 375px) {
        font-size: 17px;
    }
}
@mixin plainText18() {
    font-family: $fRegular;
    font-size: 18px;
    line-height: 28px;
    color: $cBlack;

    @media (max-width: 992px) {
        font-size: 17px;
    }
    @media (max-width: 576px) {
        font-size: 16px;
    }
    @media (max-width: 350px) {
        font-size: 15px;
    }
}
@mixin plainText16() {
    font-family: $fRegular;
    font-size: 16px;
    line-height: 24px;
    color: $cBlack;
    @media (max-width: 1140px) {
        font-size: 15.5px;
    }
    @media (max-width: 1040px) {
        font-size: 15px;
    }
    @media (max-width: 992px) {
        font-size: 14.5px;
    }
    @media (max-width: 768px) {
        font-size: 14px;
    }
    @media (max-width: 400px) {
        font-size: 13px;
    }
    @media (max-width: 350px) {
        font-size: 12.5px;
    }
}
@mixin plainText14() {
    font-family: $fRegular;
    font-size: 14px;
    line-height: 24px;
    color: $cBlack;
}
