// Fonts
$fRegular: Poppins-Regular, sans-serif;
$fBold: Poppins-Bold, sans-serif;

// Colors
$cBlack: #000000;
$cBlackSecond: #807c7c;
$cWhite: #ffffff;
$cBorder: #222433;
$cOrange: #f2726c;

// Other
$mainTransition: all 0.3s ease-in-out;
