@import "../styles/fonts";
@import "../styles/mixins";
@import "../styles/variables";

.header {
    height: 113px;
    margin: 0px 2.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 4px solid $cBorder;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background: linear-gradient(0deg, #f7f3f4, #f7f3f4), linear-gradient(0deg, #febd2f, #febd2f),
        radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%), #27d07d;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: 20px;
        column-gap: 7.4vw;
        a {
            @include plainText16;
            transition: all 0.3s ease-in-out;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                color: $cOrange;
            }
            &:focus-visible {
                outline: none;
                transform: scale(1.1);
                border-bottom: 1px solid $cOrange;
                opacity: 1;
                color: $cOrange;
            }
            &:active {
                transition: all 0.1s ease-in-out;
                color: $cBlack;
            }
        }
        .navlink_active {
            font-family: $fBold;
            transition: all 0.3s ease-in-out;
            opacity: 1;
        }
    }

    &_button {
        @include buttonRounded;
        color: black;
        background-color: $cWhite;
        width: 145px;
        transition: box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
        &:hover {
            box-shadow: 0 2px 25px #f2736c70;
        }

        &:active {
            background-color: #f2736c70;
            color: white;
            box-shadow: 0 2px 25px #f2736c70;
        }
        &:focus-visible {
            outline: none;
            border: 2px solid $cBorder;
            box-shadow: 0 2px 25px #f2736c70;
        }
    }
}

.intro {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4vw;
    justify-content: space-between;
    padding: 0px 8.7vw;
    padding-top: 180px;
    padding-bottom: 128px;
    background: linear-gradient(0deg, #f7f3f4, #f7f3f4), linear-gradient(0deg, #febd2f, #febd2f),
        radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%), #27d07d;

    .natureNeedsYou_container {
        padding-top: 60px;

        .natureNeedsYou_text {
            @include plainText16;
            line-height: 32px;
            padding-top: 45px;
            padding-bottom: 30px;
            padding-right: 30px;
        }
        .search_container {
            position: relative;
            width: 84%;
            border: 1px solid transparent;
            border-radius: 40px;
            transition: all 0.3s ease-in-out;
            &:focus {
                border: 1px solid $cOrange;
            }
            &:active {
                border: 1px solid $cOrange;
            }
            &:hover {
                border: 1px solid $cOrange;
            }
            .search_icon {
                position: absolute;
                top: 20px;
                left: 17px;
                pointer-events: none;
                user-select: none;
                img {
                    width: 17px;
                    height: 23px;
                    user-select: none;
                }
            }
            .search_input {
                @include mainInput;
                @include plainText14;
                color: $cBlack;
                width: 100%;
                padding-left: 48px;
                padding-right: 143px;
            }
            .search_button {
                @include buttonRounded;
                width: 137px;
                height: 100%;
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                border: 8px solid white;
                background-color: $cOrange;
                color: white;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 13px;
                letter-spacing: 1px;
                &:hover {
                    box-shadow: 0 2px 25px #f2736c70;
                }

                &:active {
                    background-color: #f2736c70;
                    color: white;
                    box-shadow: 0 2px 25px #f2736c70;
                }
                &:focus-visible {
                    outline: none;
                    outline: 1px solid $cBorder;
                    box-shadow: 0 2px 25px #f2736c70;
                }
            }
        }
    }

    .membersAndParrot_container {
        position: relative;
        .membersAndParrot_leafs_block {
            position: absolute;
            top: 0px;
            right: -35px;
            z-index: 1;
            .membersAndParrot_leafs {
            }
        }

        .membersAndParrot_parrot_block {
            position: absolute;
            top: 70px;
            right: 50px;
            z-index: 2;

            .membersAndParrot_parrot {
            }
        }
        .members_container {
            position: absolute;
            top: 292px;
            right: 190px;
            z-index: 3;
            width: 272px;
            height: 330px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            background-image: url(../img/members_bg.svg);
            padding: 36px 32px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .members_block_icon {
                width: fit-content;
            }
            .members_block_info {
                display: flex;
                flex-direction: column;
                .members_block_info_text {
                    font-family: $fBold;
                    font-size: 20px;
                    color: $cBlack;
                    line-height: 28px;
                    color: white;
                }
                .members_block_info_numbers {
                    font-family: $fBold;
                    font-size: 56px;
                    line-height: 80px;
                    color: white;
                }
            }
        }
    }
}
