@import "../styles/fonts";
@import "../styles/mixins";
@import "../styles/variables";

.header {
    height: 113px;
    margin: 0px 2.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 4px solid $cBorder;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background: linear-gradient(0deg, #f7f3f4, #f7f3f4), linear-gradient(0deg, #febd2f, #febd2f),
        radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%), #27d07d;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: 20px;
        column-gap: 7.4vw;
        a {
            @include plainText16;
            transition: all 0.3s ease-in-out;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                color: $cOrange;
            }
            &:focus-visible {
                outline: none;
                transform: scale(1.1);
                border-bottom: 1px solid $cOrange;
                opacity: 1;
                color: $cOrange;
            }
            &:active {
                transition: all 0.1s ease-in-out;
                color: $cBlack;
            }
        }
        .navlink_active {
            font-family: $fBold;
            transition: all 0.3s ease-in-out;
            opacity: 1;
        }
    }

    &_button {
        @include buttonRounded;
        color: black;
        background-color: $cWhite;
        width: 145px;
        transition: box-shadow 0.3s ease-in-out, background-color 0.1s ease-in-out;
        &:hover {
            box-shadow: 0 2px 25px #f2736c70;
        }

        &:active {
            background-color: #f2736c70;
            color: white;
            box-shadow: 0 2px 25px #f2736c70;
        }
        &:focus-visible {
            outline: none;
            border: 2px solid $cBorder;
            box-shadow: 0 2px 25px #f2736c70;
        }
    }
}

.intro {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4vw;
    justify-content: space-between;
    padding: 0px 8.7vw;
    padding-top: 180px;
    padding-bottom: 128px;
    background: linear-gradient(0deg, #f7f3f4, #f7f3f4), linear-gradient(0deg, #febd2f, #febd2f),
        radial-gradient(178.57% 327.71% at 110.1% 3.35%, #ff605b 0%, #ffee30 100%), #27d07d;

    .natureNeedsYou_container {
        padding-top: 60px;

        .natureNeedsYou_text {
            @include plainText16;
            line-height: 32px;
            padding-top: 60px;
            padding-bottom: 45px;
            padding-right: 30px;
        }
        .search_container {
            position: relative;
            width: 84%;
            border: 1px solid transparent;
            border-radius: 40px;
            transition: all 0.3s ease-in-out;
            &:focus {
                border: 1px solid $cOrange;
            }
            &:active {
                border: 1px solid $cOrange;
            }
            &:hover {
                border: 1px solid $cOrange;
            }
            .search_icon {
                position: absolute;
                top: 20px;
                left: 17px;
                pointer-events: none;
                user-select: none;
                img {
                    width: 17px;
                    height: 23px;
                    user-select: none;
                }
            }
            .search_input {
                @include mainInput;
                @include plainText14;
                color: $cBlack;
                width: 100%;
                padding-left: 48px;
                padding-right: 143px;
            }
            .search_button {
                @include buttonRounded;
                width: 137px;
                height: 100%;
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                border: 8px solid white;
                background-color: $cOrange;
                color: white;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 13px;
                letter-spacing: 1px;
                &:hover {
                    box-shadow: 0 2px 25px #f2736c70;
                }

                &:active {
                    background-color: #f2736c70;
                    color: white;
                    box-shadow: 0 2px 25px #f2736c70;
                }
                &:focus-visible {
                    outline: none;
                    outline: 1px solid $cBorder;
                    box-shadow: 0 2px 25px #f2736c70;
                }
            }
        }
    }

    .membersAndParrot_container {
        position: relative;
        .membersAndParrot_leafs_block {
            position: absolute;
            top: 0px;
            right: -35px;
            z-index: 1;
        }

        .membersAndParrot_parrot_block {
            position: absolute;
            top: 70px;
            right: 50px;
            z-index: 2;
        }
        .members_container {
            position: absolute;
            top: 292px;
            right: 190px;
            z-index: 3;
            width: 272px;
            height: 330px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            background-image: url(../img/members_bg.svg);
            padding: 36px 32px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .members_block_icon {
                width: fit-content;
            }
            .members_block_info {
                display: flex;
                flex-direction: column;
                .members_block_info_text {
                    font-family: $fBold;
                    font-size: 20px;
                    color: $cBlack;
                    line-height: 28px;
                    color: white;
                }
                .members_block_info_numbers {
                    font-family: $fBold;
                    font-size: 56px;
                    line-height: 80px;
                    color: white;
                }
            }
        }
    }
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: space-between;
    align-self: center;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 190px;
    column-gap: 55px;
    .article {
        display: flex;
        flex-direction: row;
        column-gap: 25px;

        .article_video {
            min-width: 160px;
            width: 160px;
            height: 112px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            user-select: none;
            position: relative;
            transition: all 0.3s ease-in-out;
            &:hover {
                cursor: pointer;
                filter: brightness(0.8);
            }
            &:hover > .article_video_playBtn {
                opacity: 1;
            }
            .article_video_playBtn {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                background-color: white;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                bottom: calc(50% - 20px);
                right: calc(50% - 20px);
                padding-left: 10px;
                transition: all 0.3s ease-in-out;

                &::before {
                    width: 0;
                    height: 0;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 10px solid black;
                    display: flex;
                    margin: 0 auto;
                    content: "";
                }
            }
        }
        .article_image {
            min-width: 112px;
            width: 112px;
            height: 112px;
            border-radius: 112px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            user-select: none;
        }

        .article_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 9px 0px;

            .article_info_hash {
                font-family: $fRegular;
                color: #333333;
                font-size: 12px;
                line-height: 16px;

                .article_info_hash_text {
                    margin-left: 4px;
                    color: $cBlackSecond;
                }
            }
            .article_info_title {
                font-family: $fBold;
                color: #333333;
                font-size: 14px;
                line-height: 18px;
                padding-bottom: 5px;
            }
            .article_info_link {
                color: $cBlackSecond;
                font-size: 12px;
                line-height: 16px;
                width: fit-content;
                border-bottom: 1px solid $cBlackSecond;
                transition: all 0.3s ease-in-out;
                &:hover {
                    border-bottom: 1px solid $cOrange;
                    color: $cOrange;
                }
                &:active {
                    transition: all 0.1s ease-in-out;
                    border-bottom: 1px solid $cBlackSecond;
                    color: $cBlackSecond;
                }
            }
        }
    }
}

.firstSlider {
    margin-bottom: 40px;
    .slider_controls_left {
        position: absolute;
        top: calc(50% - 22px);
        left: -88px;
        user-select: none;
    }
    .slider_controls_right {
        position: absolute;
        top: calc(50% - 22px);
        right: -88px;
        transform: rotate(180deg);
        user-select: none;
    }
    .slider_controls_disable {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
    }
    .firstSlider_block {
        position: relative;
        max-width: 992px;
        width: 992px;
        margin: 0 auto;
        .firstSlider_item {
            height: 512px;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            padding-left: 80px;
            column-gap: 10vw;
            padding-right: 0px;
            margin: 0px 5px;
            .firstSlider_item_col {
                align-self: center;
                .firstSlider_item_col_title {
                    @include headerBold40;
                    color: #222433;
                    margin-bottom: 42px;
                }
                .firstSlider_item_col_text {
                    @include plainText18;
                    color: #1e1a20;
                }
            }
            .firstSlider_item_img_block {
                align-self: flex-end;
                margin-bottom: -5px;

                .firstSlider_item_img {
                    height: 100%;
                }
            }
        }
    }
}

.ourTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 8.7vw;
    padding-top: 152px;

    .ourTeam_title {
        @include headerBold40;
        margin-bottom: 14px;
    }
    .ourTeam_text {
        @include plainText18;
        max-width: 352px;
        text-align: center;
    }
    .ourTeam_row {
        position: relative;
        .ourTeam_row_block {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            column-gap: 7vw;
            .ourTeam_row_item {
                min-width: 330px;
                margin-top: 120px;
                margin-left: -30px;
                z-index: 10;

                &:first-of-type {
                    min-width: 320px;
                    margin-top: 15px;
                    margin-left: 0px;
                }
                &:last-of-type {
                    min-width: 280px;
                    width: 280px;
                    margin-top: 15px;
                    margin-left: 20px;
                }
            }
        }

        .chain_between_team_left {
            position: absolute;
            top: 40px;
            left: 11.5vw;
        }
        .chain_between_team_right {
            position: absolute;
            top: 140px;
            right: 10vw;
            transform: scale(-1, -1) rotate(-45deg);
        }
    }
}

.scaleOf {
    margin-top: 182px;
    padding-top: 210px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    .scaleOf_title {
        @include headerBold50;
        max-width: 928px;
        width: 928px;
        text-align: center;
    }
    .scaleOf_row {
        margin-top: 62px;
        padding-top: 82px;
        border-top: 4px solid $cBorder;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        column-gap: 7vw;
        .scaleOf_row_item {
            width: 184px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            column-gap: 19px;

            .scaleOf_row_item_text {
                @include headerBold14;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
    .scale_leafs_left {
        position: absolute;
        top: 25px;
        left: 35px;
    }
    .scale_leafs_right {
        position: absolute;
        top: 20px;
        right: 22px;
    }
    .scale_gradient_circle {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.getStartedForm {
    max-width: 1118px;
    height: 560px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 104px;
    padding-left: 80px;
    column-gap: 6.5vw;
    margin: 0 auto;
    margin-top: 194px;
    background-color: #ffbd9e;
    .getStartedForm_col {
        align-self: center;
        max-width: 390px;

        h2 {
            @include headerBold40;
            color: #222433;
            margin-bottom: 42px;
        }
        p {
            @include plainText18;
            color: #1e1a20;
        }
    }
    .getStartedForm_form {
        background-color: #f7f3f4;
        border-radius: 16px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 35px 55px;
        h3 {
            font-family: $fBold;
            font-size: 32px;
            color: #222433;
            line-height: 56px;
            margin-bottom: 29px;
        }
        .getStartedForm_form_input {
            position: relative;
            width: 100%;
            margin-bottom: 15px;
            border-radius: 40px;
            transition: all 0.3s ease-in-out;
        }
        input {
            @include mainInput;
            height: 48px;
            width: 100%;
            transition: all 0.3s ease-in-out;
            border: 1px solid transparent;
            &:focus-visible {
                outline: none;
            }
            &:focus {
                outline: none;
                border: 1px solid #7675fd;
            }
            &:active {
                outline: none;
                border: 1px solid #7675fd;
            }
            &:hover {
                outline: none;
                border: 1px solid #7675fd;
            }
        }
        .errorMessage {
            color: rgb(244, 59, 59);
            position: absolute;
            left: 24px;
            bottom: -20px;
            font-size: 14px;
        }
        button {
            @include buttonRounded;
            width: 100%;
            margin-top: 16px;
            background-color: #f2726c;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            font-size: 13px;
            &:hover {
                box-shadow: 0 2px 25px #f2736c70;
            }

            &:active {
                background-color: #f2736c70;
                color: white;
                box-shadow: 0 2px 25px #f2736c70;
            }
            &:focus-visible {
                outline: none;
                outline: 1px solid $cBorder;
                box-shadow: 0 2px 25px #f2736c70;
            }
        }
        .getStartedForm_form_leaf {
            position: absolute;
            top: -20px;
            right: -15px;
            z-index: 21;
        }
        .getStartedForm_success {
            width: inherit;
            height: inherit;
            background: linear-gradient(347.34deg, #43a3a8 31.62%, #24236d 74.85%);
            z-index: 20;
            position: absolute;
            border-radius: 8px;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            font-size: 30px;
            transition: all 0.3s ease-in-out;
            @media screen and (max-width: 567px) {
                font-size: 25px;
            }
        }
    }
}
