body {
    font-family: 'Poppins-Regular', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.no_scroll {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: #F7F3F4;
    background: #F7F3F4;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2726c), to(#7675FD));
    background: linear-gradient(180deg, #f2726c, #7675FD);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

p,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input:focus-visible {
    outline: 1px solid transparent;
}

input:hover {
    outline: 1px solid transparent;
    border: 1px solid transparent;
    border-color: transparent;
}